.Data-Display {
  margin: 10px;
}
hr.solid {
  margin: 20px 10px;
  border-top: 3px solid #bbb;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}
